[Unit] 
Description=My Camera Service 
After=multi-user.target 

[Service] 
Type=idle 
ExecStart=/usr/bin/python /home/pi/rpicammonitor/code/camera.py 

[Install] 
WantedBy=multi-user.target
